{% set services = load_data(path="data/services.toml") %}
{% for group in services.groups %}
<div class="dir-group">
  <h3 class="sec-sub">{{ group.name }}</h3>
  <ul class="dir dir-grid">
    {% for item in group.items %}
    <li class="dir-item">
      <a class="dir-row" href="{{ item.url }}">
        <span class="dir-name">{{ item.name }}</span>
        <span class="dir-desc">{{ item.description }}</span>
        <span class="dir-host">{{ item.url | replace(from="https://", to="") }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
